<body>
  <% if flash[:notice] %>
    <p id="notice">
        <%= flash[:notice] %>
    </p>
  <% end %>


  <h1>Books</h1>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>


    <tbody>
      <% @booklists.each do |booklist| %>
      <tr>
        <td><%= booklist.title %></td>
        <td><%= booklist.body %></td>
        <td><%= link_to 'show', book_path(booklist.id) %></td>
        <td><%= link_to 'Edit', edit_book_path(booklist.id) %></td>
        <td><%= link_to "Deleate", destroy_book_path(booklist.id), method: :delete, "data-confirm" => "Are you sure？" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <h2>New book</h2>
  <%= form_with model: @booklist, url:'/books', local:true do |f| %>
  <% if @booklist.errors.any? %>
  <div id="error_explanation">
      <h2><%= @booklist.errors.count %>件のerrorが発生しました</h2>
      <% @booklist.errors.full_messages.each do |message| %>
      <ul>
        <li>
          <%= message %>
        </li>
      </ul>
  <% end %>
  <% end %>


  <div class="field">
    <label for="book_title">Title</label>
    <%= f.text_field :title %>
  </div>

  <div class="field">
  <label for="book_body">Body</label>
  <%= f.text_area :body %>
  </div>

  <div class="actions">
  <%= f.submit 'Create Book' %>
  </div>

  <% end %>
</body>





